/* Defaults*/

html, body {
  display: block;
  width: 100%;height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;padding: 0;
}

/* main styling */

.main {
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
  width: 100%;height: 100%;
  overflow: auto;
}

/* Header */

header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;right: 0;left: 0;
  width: 100%;height: 80px;
}

/* Search section in the top middle of the page */

.search {
  position: absolute;
  width: 400px;height: 100%;
  left: 50%; transform: translateX(-50%);
}

.container-4{
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 400px;height: 100%;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 400px;
  height: 40px;
  background: #f2f2f2;
  border: none;
  font-size: 12pt;
  float: left;
  color: #000;
  padding-left: 15px;padding-right: 100px;
  outline: none;
  border-radius: 30px;
}

.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-4 .go{
  position: absolute;
  width: 100px;height: 40px;
  background-color: #212121;
  float: left;
  right: 0;
  border: none;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  outline: none;
}

/* Section for the logo and the login button */

.logo, .login {
  width: 150px;height: 100%;
}

.logo {
  background-color: black;
}

.login {
  position: relative;
  width: 270px;
  display: flex;
  align-items: center;
}

.phone-number {
  position: absolute;
  float: left;
  width: 300px;height: 40px;
  line-height: 30px;
  background-color: #f2f2f2;
}

.phone-number i {
  position: absolute;
  float: left;
  left: 10px;
  top: 50%; transform: translateY(-50%);
}

.phone-number p {
  position: absolute;
  float: left;
  left: 30px;
  line-height: 40px;
  font-size: 18px;
}

.login-button {
  position: absolute;
  float: left;
  left: 200px;
  width: 100px;height: 40px;  
  background-color: #ff8d1d;
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

/* Navigation bar */

.sub-header {
  position: absolute;
  top: 80px;
  width: 100%;height: 45px;
  display: flex;
  justify-content: center;
  background-color: #ff8d1d;
  z-index: 5;
}

.sub-header li {
  display: inline-block;
  width: 150px;height: 45px;
  text-align: center;
}

.sub-header li::before {
  content: '';
  display: block;
  position: absolute;
  height: 45px;
  border-left: 1px solid white;
}

.sub-header li:last-of-type::before {
  content: '';
  display: block;
  height: 45px;width: 150px;
  border-right: 1px solid white;
}

.sub-header li a {
  color: #fff;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 600;
}

.sub-header li:hover {
  background-color: #212121;
}

.current {
  background-color: #212121;
}

.sub-header li:hover:nth-child(4), .sub-header li:hover:nth-child(5), .sub-header li:hover:nth-child(6), .sub-header li:hover:nth-child(7) {
  background-color: #ff8d1d;
  cursor: initial;
}

/* Hover menu on item element */

.sub-header li ul {
  display: none;
}

.sub-header li:hover ul {
  display:block;
 }

.sub-header li ul li {
  background-color: #ff8d1d;
  margin-bottom: 2px;
  transition: 0.1s ease-in-out;
}

.sub-header li:hover ul li {
  float:none;
}

 /* Main-Container */

.main-container {
position: absolute;
top: 125px;
width: 100%;height: 100%;
}

 /* Content parameters */

.content {
width: 100%;height: 100%;
}

 /* Highlight Movies */

.highlight-movies {
  position: relative; 
  height: 60%;
}

.top-featured {
  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 2px; /* Pas oublier de remettre 70 pour le reste */
  left: 50%;transform: translateX(-50%);
}

.films {
  position: relative;
  display: block;
  width: 160px;height: 400px;
  margin: 17px;
}

.img {
  position: absolute;
  display: block;
  top: 0;right: 0;left: 0;
  width: 100%;height: 70%;
  background-color: #fff;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.img:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.films > .img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.films .txt {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;height: 30%;
}

.films .txt .txt-title {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 100%;height: 70%;
  top: 0;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.films .txt .years {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 50%;height: 30%;
  top: 70%;
}

/* Specifications for the display of the Hightlight movies */

.info .hyears, .info .style {
  display: block;
  width: 50%;
}

.info .hyears {
  float: left;
}

.info .style {
  float: right;
  text-align: right;
}

/* Featured Movies */

.movies {
  position: absolute;
  display: block;
  left: 50%; transform: translateX(-50%);
  width: 90%;height: 100%;
}

.title {
  position: absolute;
  width: 100%;height: 50px;
  border-left: 4px solid #fd8b19;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 50px;
  font-weight: 600;
}

.container {
  position: absolute;
  top: 70px;
  width: 80%;height: 100%;
  left: 50%; transform: translateX(-50%);
}

.categories {
  position: absolute;
  width: 100%;height: 70px;
  background-color: #ffff;
}

.genre {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;height: 100%;
  list-style: none;
}

.genre li {
  display: inline-block;
  width: 40%;height: 50%;
  margin: 1px;
  background-color: #f2f0f1;
  text-align: center;
  line-height: 35px;
}

.genre li:last-of-type {
  width: 50%;
}

.genre li:hover {
  background-color: #fd8b19;
  color: #fff;
  cursor: pointer;
}

.genre li.active {
  background-color: #fd8b19;
  color: #fff;
}

.genre li:hover:last-of-type {
  background-color: #f2f0f1;
  color: #000;
  cursor: initial;
}

.movies-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 70px;
  width:;
  padding-bottom: 70px;
}

.txt {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;height: 30%;
}

.txt .txt-title {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 100%;height: 70%;
  top: 0;
}

.txt .info {
  position: absolute;
  width: 100%;height: 20%;
  top: 70%;
}

/* Load more button */

.load-more {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;height: 50px;
  line-height: 50px;
  justify-content: center;
}

.load-more button {
  display: block;
  width: 200px;height: 40px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fd8b19;
  color: #fff;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  transition: 0.2s ease-in-out;
}

.load-more button:hover {
  box-shadow: 1px 1px 1px #b2b2b2;
  transform: scale(1.02);
}

/* Series library display */

.series {
  top: 1700px;
  position: absolute;
  display: block;
  left: 50%; transform: translateX(-50%);
  width: 90%;height: 100%;
}

/* Films images */

.one .img {
  background-image: url('../img/1-one.jpg');
}

.two .img {
  background-image: url('../img/2-two.jpg');
}

.three .img {
  background-image: url('../img/3-three.jpg');
}

.four .img {
  background-image: url('../img/4-four.jpg');
}

.five .img {
  background-image: url('../img/5-five.jpg');
}

.six .img {
  background-image: url('../img/6-six.jpg');
}

.seven .img {
  background-image: url('../img/7-seven.jpg');
}

.height .img {
  background-image: url('../img/8-height.jpg');
}

.nine .img {
  background-image: url('../img/9-nine.jpg');
}

.ten .img {
  background-image: url('../img/10-ten.jpg');
}

.eleven .img {
  background-image: url('../img/11-eleven.jpg');
}

.twelve .img {
  background-image: url('../img/12-twelve.jpg');
}

/* Clear for the float */

.clear {
  clear: both;
}

footer {
  position: absolute;
  top: 3000px;
  height: 300px;
  text-align: center;
  background-color: black;
  padding: 20px;
  color: white;  
}

.mon-super-bouton {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 32px;
  background-color: orange;
  color: white;
  border:none;
  
  position: absolute;
  bottom: 20px;
  right: 20px;
}